@font-face {
    font-family: 'Circuit';
    src: url(../fonts/FontsFree-Net-CIRCUIT_.ttf);
}
*{
    margin: 0;
    padding: 0;
}
.navbarContainer{
    background-color: rgba(0,0,0,.2);
    position: relative;
}
.navbar{
    height: auto;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.navlogo h1{
    font-family: 'Circuit', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 1.2rem;
}
.navlogo img{
    width: 4rem;
    height: 3.5rem;
    padding: 5px 20px 5px 5px;
}
.signout{
    display: flex;
    /* justify-content: flex-end; */
    margin-top: 1.5rem;
}
.signout-icon{
    width: 30px;
    height: 30px;
    margin: -5px 0 0 5px;
}
@media screen and (max-width: 700px){
    .navbar{
      width: 100%;
      flex-direction: column;
    }
    .navlogo,
    .signout{
      width: 100%;
      justify-content: center;
    }
    .navlogo img{
        padding: 10px 10px 0 5px;
    }
    .signout{
        margin-top: 1rem;
    }
    .signout-icon{
        margin: -5px 0 0 5px;
    }
  }