.inputContainer{
    width: 40%;
    margin: auto;
    position: relative;
    margin-top: 13%;
}
.textForm{
    margin: 2rem auto;
}
.textForm p{
    font-size: 14pt;
}
.inputForm{
    height: 4rem;
}
.inputForm input{
    width: 90%;
    line-height: 50px;
    padding: 0 5px;
    text-align: center;
    border: none;
    outline: none;
    background: rgb(241, 241, 241);
    margin: .4rem auto;
}
.upload-btn-container{
    padding: 1rem;
}
.upload-btn-container input{
    color: #fff;
}

@media screen and (max-width: 700px){
    .inputContainer{
        margin-top: 35%;
        width: 95%;
    }
}
@media screen and (min-width: 701px) and (max-width: 1200px){
    .inputContainer{
        margin-top: 20%;
        width: 70%;
    }
}